<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="conteiner">
        <header class="header">
            <div class="header-nav">
                <div class="header-nav_left">
                    <div class="logo">
                        <img src="../../assets/icons/Group.png" alt="logo">
                        <h1><a href="#">Abito</a></h1>
                    </div>
                    <ul>
                        <li><a href="#">Недвижимость</a></li>
                        <li><a href="#">Работа</a></li>
                        <li><a href="#">Авто</a></li>
                        <li><a href="#">Услуги</a></li>
                    </ul>
                </div>
                <div class="header-nav_right">
                    <div class="header-nav__enter">Вход и регистрация</div>
                    <div class="header-nav__advert">Подать объявление</div>
                </div>
            </div>
            <div class="search">
                <div class="search__main">
                    <input type="text" placeholder="Поиск по объявлениям">
                    <img src="../../assets/icons/search 3.png" alt="bot" class="search__right">
                    <p class="search__text"><a href="#">Найти</a></p>
                </div>
            </div>
        </header>
        <main>
            <div class="samokat">
                <h2>Электросамокат kugoo Gx</h2>
                <a href="#"><img src="../../assets/images/Rectangle 3 (6).png" alt="samokat"></a>
                <div class="imgs-samokat">
                    <a href="#"><img src="../../assets/images/Rectangle 4.png" alt=""></a>
                    <a href="#"><img src="../../assets/images/Rectangle 5.png" alt=""></a>
                    <a href="#"><img src="../../assets/images/Rectangle 6.png" alt=""></a>
                    <a href="#"><img src="../../assets/images/Rectangle 7.png" alt=""></a>
                    <a href="#"><img src="../../assets/images/Rectangle 8.png" alt=""></a>
                </div>
                <div class="samokat__info">
                    <p>Продаю не спеша самокат в хорошем состоянии.</p>
                    <p>Торг возможен.</p>
                    <p>За период эксплуатации не выявлено ни одной проблемы.</p>
                    <p>Из минусов — нужно прокачать задний тормоз.</p>
                    <p>Установлен отсекатель сзади.</p>
                    <p>Покрышки CST внедорожные.</p>
                    <p>Все на подшипниках, болты протянуты.</p>
                    <p>Пробег 881км , это немного для такого зверя.</p>
                </div>
            </div>
            <div class="seller">
                <p class="seller__price">75 000 ₽</p>
                <div class="seller__person">
                        <div class="seller__person_left">
                            <p class="name">Михаил Воробьев</p> 
                            <div class="stars-and-otz">
                                <img src="../../assets/images/Frame 8.png" alt="stars" class="stars">
                                <p class="otzivi">5 отзывов</p>
                            </div>
                            <p class="private-face">Частное лицо</p>
                        </div>
                        <div class="seller__person_right">
                            <img src="../../assets/images/Ellipse 1.png" alt="face">
                        </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>