<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="conteiner">
        <header class="header">
            <div class="header-nav">
                <div class="header-nav_left">
                    <div class="logo">
                        <img src="../../assets/icons/Group.png" alt="logo">
                        <h1><a href="#">Abito</a></h1>
                    </div>
                    <ul>
                        <li><a href="#">Недвижимость</a></li>
                        <li><a href="#">Работа</a></li>
                        <li><a href="#">Авто</a></li>
                        <li><a href="#">Услуги</a></li>
                    </ul>
                </div>
                <div class="header-nav_right">
                    <div class="header-nav__enter">Вход и регистрация</div>
                    <div class="header-nav__advert">Подать объявление</div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>