<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="conteiner">
        <header class="header">
            <div class="header-nav">
                <div class="header-nav_left">
                    <div class="logo">
                        <img src="../../assets/icons/Group.png" alt="logo">
                        <h1><a href="#">Abito</a></h1>
                    </div>
                    <ul>
                        <li><a href="#">Недвижимость</a></li>
                        <li><a href="#">Работа</a></li>
                        <li><a href="#">Авто</a></li>
                        <li><a href="#">Услуги</a></li>
                    </ul>
                </div>
                <div class="header-nav_right">
                    <div class="header-nav__enter">Вход и регистрация</div>
                    <div class="header-nav__advert">Подать объявление</div>
                </div>
            </div>
            <div class="search">
                <div class="search__main">
                    <input type="text" placeholder="Поиск по объявлениям">
                    <img src="../../assets/icons/search 3.png" alt="bot" class="search__right">
                    <p class="search__text"><a href="#">Найти</a></p>
                </div>
            </div>
        </header>
        <main>
            <div class="recomend">
                <h2>Рекомендации для вас</h2>
                <div class="cards">
                    <div class="card card-marg">
                        <img src="../../assets/images/Rectangle 3.png" alt="samokat">
                        <div class="info">
                            <div class="info__name">
                                <a href="#">Электросамокат</a>
                                <img src="../../assets/icons/Vector.png" class="heart-img" alt="heart">
                            </div>
                            <p class="info__price">10 980 ₽</p>
                        </div>
                        <p class="info__place-time">Казань, р-н Ново-Савиновский</p>
                        <p class="info__place-time">10 июля 11:39</p>                    
                    </div>
                    <div class="card card-marg">
                        <img src="../../assets/images/Rectangle 3 (1).png" alt="samokat">
                        <div class="info">
                            <div class="info__name">
                                <a href="#">Пвх материал 2й сорт</a>
                                <img src="../../assets/icons/favourite.png" class="heart-img" alt="heart">
                            </div>
                            <p class="info__price">170 ₽</p>
                        </div>
                        <p class="info__place-time">Казань, р-н Вахитовский</p>
                        <p class="info__place-time">10 июля 11:39</p>
                    </div>
                    <div class="card">
                        <img src="../../assets/images/Rectangle 3 (2).png" alt="samokat">
                        <div class="info">
                            <div class="info__name">
                                <a href="#">Двухсторонняя ветровка для мальчика</a>
                                <img src="../../assets/icons/Vector.png" class="heart-img" alt="heart">
                            </div>
                            <p class="info__price">2 110 ₽</p>
                        </div>
                        <p class="info__place-time">Казань, р-н Ново-Савиновский</p>
                        <p class="info__place-time">10 июля 11:39</p>
                    </div>
                    <div class="card card-marg">
                        <img src="../../assets/images/Rectangle 3 (3).png" alt="samokat">
                        <div class="info">
                            <div class="info__name">
                                <a href="#">Пеленальная доска на комод</a>
                                <img src="../../assets/icons/Vector.png" class="heart-img" alt="heart">
                            </div>
                            <p class="info__price">200 ₽</p>
                        </div>
                        <p class="info__place-time">Казань, р-н Ново-Савиновский</p>
                        <p class="info__place-time">10 июля 11:39</p>
                    </div>
                    <div class="card card-marg">
                        <img src="../../assets/images/Rectangle 3 (4).png" alt="samokat">
                        <div class="info">
                            <div class="info__name">
                                <a href="#">Участок 8 сот. (ИЖС)</a>
                                <img src="../../assets/icons/Vector.png" class="heart-img" alt="heart">
                            </div>
                            <p class="info__price">101 980 ₽</p>
                        </div>
                        <p class="info__place-time">Казань, р-н Ново-Савиновский</p>
                        <p class="info__place-time">10 июля 11:39</p>
                    </div>
                    <div class="card">
                        <img src="../../assets/images/Rectangle 3.png" alt="samokat">
                        <div class="info">
                            <div class="info__name">
                                <a href="#">Ford Fusion, 2007</a>
                                <img src="../../assets/icons/Vector.png" class="heart-img" alt="heart">
                            </div>
                            <p class="info__price">304 000 ₽</p>
                        </div>
                        <p class="info__place-time">Казань, р-н Ново-Савиновский</p>
                        <p class="info__place-time">10 июля 11:39</p>
                    </div>
                </div>
            </div>
            <div class="services">
                <h2>Сервисы и услуги</h2>
                <div class="services__sections">
                    <div class="services__section">
                        <img src="../../assets/icons/001-delivery-truck 1 (1).png" alt="delivery">
                        <p class="services__name">Доставка</p>
                        <p>Проверка при получении и возможность бесплатно вернуть товар</p>
                    </div>
                    <div class="services__section">
                        <img src="../../assets/icons/002-sedan 1 (2).png" alt="delivery">
                        <p class="services__name">Автотека</p>
                        <p>Отчёт с историей авто: пробег, владельцы, сведения о залоге, ДТП и ремонтах</p>
                    </div>
                    <div class="services__section">
                        <img src="../../assets/icons/love 1 (1).png" alt="delivery">
                        <p class="services__name">Онлайн-бронирование жилья</p>
                        <p>Посуточная аренда квартир и домов: большой выбор вариантов для поездок по России</p>
                    </div>
                </div>
            </div>
            
        </main>
    </div>
</body>
</html>