@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.conteiner{
    max-width: 1146px;
    margin: auto;
    margin-top: 50px;
}
a{
    text-decoration: none;
    color: black
}
li{
    list-style: none;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav_left{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-right: 20px;
}
.logo img{
    margin-right: 6px;
    cursor: pointer;
}

h1{
    font-size: 24px;
}

.header-nav_left ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header-nav_left ul li:not(:last-child){
    margin-right: 14px;
}

.header-nav_right{
    display: flex;
    align-items:center;
}
.header-nav_right *{
    cursor: pointer;
}

.header-nav__advert{
    padding: 10px 15px;
    background-color: rgba(37, 110, 235, 1);
    border-radius: 5px;
    color: white;
    margin-left: 25px;
}
.search{
    margin-top: 24px;
}
.search__main{
    border-radius: 5px;
    max-height: 50px;
    background-color: rgba(37, 110, 235, 1);
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__main input{
    border: 0;
    border-radius: 5px;
    width: 100%;
    size: 14px;
    padding: 14px 0 14px 21.45px;
}
.search__right{
    margin-left: 20px;
}
.search__text a{
    margin-left: 6px;
    margin-right: 20px;
    color: white;
    font-size: 16px;
}
.header{
    margin-bottom: 42px;
}
.recomend h2{
    margin-bottom: 25px;
}
.card{
    max-width: 264px;
}
.card > img{
    margin-bottom: 12px;
    cursor: pointer;
}
.info__name{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
    font-weight: bold;
}
.info__name a{
    color:rgba(37, 110, 235, 1);
}
.heart-img{
    cursor: pointer;
}
.info__price{
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info__place-time{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.recomend{
    max-width: 852px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}

.card-marg{
    margin-right: 30px;
}

.card{
    margin-top: 20px;
}