<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style/style.css">
	<title>Cinema Booking Website</title>
</head>
<body>
	<div class="conteiner">
		<nav>
			<div>
				<img src="img/logo.png" alt="">
				<div>
					<ul>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Фильмы</a></li>
						<li><a href="#">Кинотеатры</a></li>
						<li><a href="#">События</a></li>
						<li><a href="#">Поддержка</a></li>
					</ul>
				</div>
			</div>
			<div>
				<p>Привет, мила</p>
				<img src="img/Rectangle 1.png" alt="">
			</div>
		</nav>
	</div>
</body>
</html>